body,
main,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Sans';
  background-color: #fff;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.header {
  padding: 10px;
  background-color: #420544;
  color: #fff;
}
.logo {
  font-size: 30px;
}
.main-container {
  display: flex;
  padding-top: 30px;
}
.titles {
  color: #333;
  font-weight: lighter;
  margin-bottom: 20px;
}
.titles h2 {
  font-size: 24px;
}
.titles h3 {
  font-size: 18px;
}
.rules-title {
  color: #333;
  margin-bottom: 20px;
}
.rules-box {
  width: 340px;
  margin-right: 50px;
  background-color: #ecf0f1;
  border: 1px solid #ccc;
  padding: 20px;
  white-space: pre-wrap;
}
.options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-row;
  width: 750px;
}
.option {
  border: 1px solid #ccc;
  width: 320px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #333;
  background-color: #ecf0f1;
}
.option:hover {
  cursor: pointer;
  border-color: #a3a3a3;
}
.option-title {
  font-weight: 600;
}
.option-code {
  white-space: pre-wrap;
}
.complete-title {
  color: #333;
}
